.header {
  max-width: 882px;
  width: 100%;

  margin: auto;
  margin-top: 45px;
  padding-bottom: 40px;

  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
}

@media all and (max-width: 1023px) {
  .header {
    margin-top: 28px;
    padding-bottom: 31.6px;
  }
}